.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100% ;
    background-color:  #bcdf7f ;
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;    
}
.container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: fit-content;
    width: 24vw;
    border: solid 2px #2c4592;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.subtitle{
    text-decoration:underline;
}
.stats{
    background-color: #e5e5e5;
    z-index: 2;
    width: 24vw;
    height: fit-content;
    padding-top: 1vh;
    border: solid 2px #2c4592;
    border-top: transparent;
    border-radius: 15px;
    background-color: #e5e5e5;
    box-shadow: 0 2px 3px 4px rgba(20,20,20,0.4);
    opacity: 0.9;
}
.types{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #85b571;
    width: fit-content;
    padding: 0 10px 0 10px;
    border-radius: 4px;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    background-color: #2c4592;
    border-radius: 5px;
    border: solid 2px black;
    cursor: pointer;
    font-size: 15px;
    font-family: "Kabel Bd", sans-serif;
    color: #e5e5e5;
    box-shadow: 0 2px 3px 2px rgba(20, 20, 20, 0.4);
}
.link{
      text-decoration: none;

  }

  .button:hover {
    background-color: #e5e5e5;
    border: solid 2px transparent;
    border-style: groove;
    color: #2c4592;
  }

  @media only screen and (max-width: 1098px){
    .container{
        width:fit-content;
    }
    .stats{
        width:100% ;
    }
    .pic{
        transform:scale(0.9);
    }
}
